* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.tp {
  width: 100%;
  height: 100%;
}
.tp .tp-container {
  background-color: #3b3d4c;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}
.tp .tp-container .tp-logo {
  padding: 75px 0 40px;
}
.tp .tp-container .tp-logo img {
  width: 110px;
}
.tp .tp-container .employer-title {
  text-align: center;
  height: 120px;
}
.tp .tp-container .employer-title h1 {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.tp .tp-container .employer-title p {
  font-size: 14px;
  color: #b1b1b5;
  line-height: 24px;
}
.tp .tp-container .employer-subject {
  width: 590px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
}
.tp .tp-container .employer-subject .employer-register {
  padding: 25px;
  display: inline-block;
  width: 360px;
  border-right: 1px solid #efefef;
}
.tp .tp-container .employer-subject .employer-register .register-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.tp .tp-container .employer-subject .employer-register .register-list .register-item {
  margin-bottom: 22px;
}
.tp .tp-container .employer-subject .employer-register .register-list .register-item div {
  width: 100%;
  position: relative;
}
.tp .tp-container .employer-subject .employer-register .register-list .register-item div input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 15px;
  color: #606266;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  display: inline-block;
  opacity: 0.7;
  outline: none;
}
.tp .tp-container .employer-subject .employer-register .register-list .register-item div span {
  display: inline-block;
  width: 115px;
  height: 30px;
  top: 5px;
  right: 5px;
  line-height: 30px;
  background-color: #409eff;
  border-color: #409eff;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  font-size: 12px;
  cursor: pointer;
}
.tp .tp-container .employer-subject .employer-register .register-agree {
  margin-bottom: 22px;
  height: 40px;
  position: relative;
  text-align: left;
  line-height: 40px;
}
.tp .tp-container .employer-subject .employer-register .register-agree p {
  font-size: 14px;
  color: #999;
  padding-left: 25px;
}
.tp .tp-container .employer-subject .employer-register .register-agree p span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  left: 0;
}
.tp .tp-container .employer-subject .employer-register .register-agree p a {
  text-decoration: none;
  color: #999;
}
.tp .tp-container .employer-subject .employer-register .join-btn {
  width: 100%;
}
.tp .tp-container .employer-subject .employer-register .join-btn button {
  width: 100%;
  height: 40px;
  background-color: #b3e19d;
  border-color: #b3e19d;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.tp .tp-container .employer-subject .join-aside {
  display: inline-block;
  padding: 25px;
  text-align: left;
  font-size: 0;
  width: 230px;
}
.tp .tp-container .employer-subject .join-aside .join-advantage {
  margin-bottom: 20px;
}
.tp .tp-container .employer-subject .join-aside .join-advantage p {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 20px;
  color: #999;
}
.tp .tp-container .employer-subject .join-aside .join-advantage p:after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  top: 25px;
  background-color: #efefef;
}
.tp .tp-container .employer-subject .join-aside .join-advantage ul {
  list-style: none;
}
.tp .tp-container .employer-subject .join-aside .join-advantage ul li {
  font-size: 12px;
  color: #667080;
  height: 20px;
  line-height: 20px;
}
.tp .tp-container .employer-subject .join-aside .join-workfor {
  margin-bottom: 20px;
}
.tp .tp-container .employer-subject .join-aside .join-workfor p {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 20px;
  color: #999;
}
.tp .tp-container .employer-subject .join-aside .join-workfor p:after {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  top: 25px;
  background: #efefef;
}
.tp .tp-container .employer-subject .join-aside .join-workfor ul {
  list-style: none;
}
.tp .tp-container .employer-subject .join-aside .join-workfor ul li {
  width: 75px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.tp .tp-container .employer-subject .join-aside .join-workfor ul li:nth-child(2n) {
  margin-right: 0px;
}
.tp .tp-container .employer-subject .join-aside .join-workfor ul li img {
  width: 100%;
  height: 100%;
}
.tp .tp-container .have-id {
  margin: 30px auto 0;
  width: 360px;
  height: 40px;
  padding-bottom: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 0;
}
.tp .tp-container .have-id p {
  color: #fff;
  font-size: 14px;
}
.tp .tp-container .have-id p a {
  text-decoration: none;
  color: #58a673;
  font-size: 14px;
}
