* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: PingFangSC-Regular, STHeiti Light, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif;
}
.tp-bg {
  background-color: #3c3d4d;
  width: 100%;
  padding: 75px 0 40px;
  font-size: 0;
  height: 100%;
}
.tp-bg .login-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.tp-bg .login-container .toppro-logo {
  margin-bottom: 55px;
}
.tp-bg .login-container .toppro-logo img {
  width: 110px;
  height: 30px;
}
.tp-bg .login-container .login-description {
  font-size: 14px;
  color: #b1b1b5;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 200;
}
.tp-bg .login-container .login-bg {
  width: 360px;
  height: 320px;
  background-color: #fff;
  padding: 10px 25px 0;
  margin: 0 auto 25px;
  border-radius: 6px;
}
.tp-bg .login-container .login-bg .login-select {
  position: relative;
  height: 45px;
  margin-bottom: 30px;
}
.tp-bg .login-container .login-bg .login-select:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e9e9e9;
  left: 0;
  bottom: 0;
}
.tp-bg .login-container .login-bg .login-select p {
  display: inline-block;
  font-size: 16px;
  width: 155px;
  height: 45px;
  color: #666;
  line-height: 45px;
  cursor: pointer;
}
.tp-bg .login-container .login-bg .input-bottom {
  margin-bottom: 20px;
}
.tp-bg .login-container .login-bg .input-bottom .input-size .input-border {
  width: 100%;
  display: inline-block;
}
.tp-bg .login-container .login-bg .input-bottom .input-size .input-border input {
  height: 40px;
  padding: 0 15px;
  width: 100%;
  font-size: 14px;
  outline: none;
  border: 1px solid #cacdd5;
  border-radius: 4px;
  line-height: 40px;
  color: #606226;
}
.tp-bg .login-container .login-bg .sign-remember {
  margin-bottom: 30px;
  height: 15px;
  line-height: 15px;
}
.tp-bg .login-container .login-bg .sign-remember p {
  text-align: left;
}
.tp-bg .login-container .login-bg .sign-remember p .icon {
  width: 14px;
  height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}
.tp-bg .login-container .login-bg .sign-remember p span {
  vertical-align: bottom;
  display: inline-block;
  line-height: 14px;
  padding-left: 10px;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
}
.tp-bg .login-container .login-bg button {
  height: 45px;
  width: 100%;
  font-size: 18px;
  background-color: #67c23a;
  color: #fff;
  font-weight: 400;
  border: 1px solid #67c23a;
  border-radius: 4px;
  cursor: pointer;
}
.tp-bg .login-container .login-bg button:hover {
  background-color: #85ce61;
  border: 1px solid #85ce61;
}
.tp-bg .login-container .login-id-nothave {
  color: #fff;
  font-size: 14px;
  width: 360px;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.tp-bg .login-container .login-id-nothave a {
  text-decoration: none;
  color: #62bd82;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}
.tp-bg .login-container .login-id-nothave span {
  color: #6d718c;
}
